chile
Resumen:analiza los gastos de un usuario, los organiza por categoría y calcula el total de gastos.
 Luego, utiliza inteligencia artificial para generar un informe detallado que 
ayuda al usuario a entender mejor sus patrones de gasto y ofrece consejos para mejorar 
la gestión financiera.
http://127.0.0.1:5000/api/gastos

Resumen: se encarga de obtener y mostrar la distribución de gastos por categoría
http://127.0.0.1:5000/api/distribucion-gastos-por-categoria

Resumen: se encarga de obtener los 5 principales categorías de gastos.
http://127.0.0.1:5000/api/gastos-categoria-top5

Resumen: se encarga de obtener el promedio de gastos por día, mes y año.
http://127.0.0.1:5000/api/promedio-gastos

oscar
Resumen: se encarga de obtener el presupuesto total de cada usuario , teniendo cuenta
cambio_mensual_promedio, crecimiento_presupuesto
Crecimiento del presupuesto: Mide cómo ha cambiado el presupuesto en términos porcentuales entre dos momentos específicos en el tiempo.
Duración del presupuesto: Determina la cantidad de días que abarca cada presupuesto.
Promedio mensual del presupuesto: Estima cuánto dinero se gasta en promedio cada mes durante el periodo de cada presupuesto.
Cambio mensual promedio del presupuesto: Calcula el porcentaje promedio de cambio en el presupuesto de un mes a otro.

http://127.0.0.1:5000/api/presupuesto-total

,duraciones,promedios_mensuales