<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribución de Gastos por Categoría</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Distribución de Gastos por Categoría</h1>
    <canvas id="myChart"></canvas>
    <p>{{ descripcion }}</p>

    <script>
        var distribucion_gastos = {{ distribucion_gastos | tojson }};

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line', // Cambiar el tipo de gráfico a lineal
            data: {
                labels: Object.keys(distribucion_gastos),
                datasets: [
                    {
                        label: 'Monto de Gastos (BS)',
                        data: Object.values(distribucion_gastos),
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
