<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribución de Gastos</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
</head>
<body>
    <h1 style="text-align: center;">Distribución de Gastos por Categoría</h1>
    
    <!-- Gráfico de dona -->
    <div style="width: 45%; margin: auto;">
        <canvas id="myChartDoughnut"></canvas>
    </div>

    <!-- Gráfico de barras -->
    <div style="width: 45%; margin: auto;">
        <canvas id="myChartBar"></canvas>
    </div>

    <!-- Gráfico de líneas -->
    <div style="width: 45%; margin: auto;">
        <canvas id="myChartLine"></canvas>
    </div>

    <!-- Gráfico de dispersión -->
    <div style="width: 45%; margin: auto;">
        <canvas id="myChartScatter"></canvas>
    </div>

    <!-- Análisis y sugerencias -->
    <div style="text-align: center; margin-top: 20px;">
        <p id="analisisTexto"></p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
 
</body>
</html>
