<div class="calendar relative">
  <a target="_blank"
    href="https://drive.google.com/file/d/1ezbsAwMqPHzvZD14QJBCWuZ0PcnHwmIL/view"
    class="absolute left-0 transform"
  >
    <i class="bx bxs-download cursor-pointer text-white">Descargar App</i>
  </a>
</div>
