---
// Importar React y useEffect si es necesario
import { useEffect } from 'react'

export function setup() {
  useEffect(() => {
    const form = document.querySelector('.sign-in-form') as HTMLFormElement | null

    if (form) {
      form.addEventListener('submit', async (event) => {
        event.preventDefault()

        const formData = new FormData(form)
        const email = formData.get('email') as string
        const password = formData.get('password') as string

        try {
          const response = await fetch('http://167.99.63.51:27016/api/usuarios/Login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
          })

          if (!response.ok) {
            throw new Error('Error al iniciar sesión')
          }

          const data = await response.json()
          const token = data.token as string // Asumiendo que el servidor devuelve un objeto con un campo 'token'

          // Guardar el token en el almacenamiento local (localStorage)
          localStorage.setItem('token', token)

          // Redireccionar a la página de administración (por ejemplo)
          window.location.href = '/admin' // Cambia esto según tu estructura de rutas
        } catch (error) {
          // console.error('Error al iniciar sesión:', error.message)
          // Manejar el error (por ejemplo, mostrar un mensaje al usuario)
        }
      })
    }
  }, []) // Asegúrate de manejar adecuadamente las dependencias si es necesario
}
---

<form method="GET" class="sign-in-form" action="/admin">
  <h2 class="title">Iniciar Seccion</h2>
  <div class="input-field">
    <i class="fas fa-user"></i>
    <input
      id="email"
      type="email"
      name="email"
      required
      autocomplete="email"
      autofocus
      placeholder="Correo"
    />
  </div>
  <div class="input-field">
    <i class="fas fa-lock"></i>
    <input
      id="password"
      type="password"
      name="password"
      required
      autocomplete="current-password"
      placeholder="Contraseña"
    />
  </div>
  <button type="submit" value="Ingresar" class="btn2 solid">Ingresar</button>
</form>
