<!-- NEXForm.astro -->
---
import { createEffect } from 'react';
---

<form method="Post" class="sign-in-form" action="/admin" use:createEffect>
  <h2 class="title">Iniciar Sesión</h2>
  <div class="input-field">
    <i class="fas fa-user"></i>
    <input
      id="email"
      type="email"
      name="email"
      required
      autocomplete="email"
      autofocus
      placeholder="Correo"
    />
  </div>
  <div class="input-field">
    <i class="fas fa-lock"></i>
    <input
      id="password"
      type="password"
      name="password"
      required
      autocomplete="current-password"
      placeholder="Contraseña"
    />
  </div>
  <button type="submit" value="Ingresar" class="btn2 solid">Ingresar</button>
</form>

<@script>
  createEffect(() => {
    document.querySelector('.sign-in-form').addEventListener('submit', async (event) => {
      event.preventDefault();
      
      const formData = new FormData(event.target);
      const email = formData.get('email');
      const password = formData.get('password');

      // Llama a la función de prop onFormSubmit con los datos del formulario
      onFormSubmit({ email, password });
    });
  });
</@script>
