---
import { Image } from 'astro:assets';
import imgLogo from '@images/cliente/Logo.png';
const login = {
  name: 'Sw2. Presupuesto',
  branch: 'Sotware para prespuesto personales.'
}
---

<div class="content">
  <h3>{login.name}</h3>
  <p>{login.branch}</p>
  <Image src={imgLogo} alt={login.name} width={200} height={80}/>
</div>
